.filter_container {
    display: flex;
    box-shadow: 0 1px 4px 0 rgb(0 0 0 / 41%);
    border-radius: 45px;
    padding: 10px 10px;
    color: #0000008f;
    flex-wrap: wrap;
}

.filter_container input:focus {
    outline: none !important;
}

.filter_container input {
    height: 100%;
    width: 100%;

}

.border_right {
    padding: 0 10px;
    border-right: 1px solid grey;
    display: flex;
    align-items: center;
}
.border_right svg{
    margin-right: 5px;
}

.border_right .guest_input{
    width: 65px;
}

.search_container {
    margin-left: 8px;
    background-color: rgb(149 146 146);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    position: relative;
    padding-left: 17px;
    bottom: 3px;
    padding-top: 2px;
}

.search_container span svg {
    position: relative;
    top: 7px;
    right: 8px;
    color: white;
}

.amenites_container {
    width: 426px;
    height: 100%;
    display: flex;
    box-shadow: 0 3px 4px 0 rgb(0 0 0 / 16%);
    border-radius: 50px;
    padding: 12px 17px;
}

.dollar {
    display: flex;
    align-items: center;
}

.dollar svg {
    margin-top: 5px;
    font-size: 15px;
}

.filters {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 15px;
    margin-left: 7px;
}

.filters svg{
    margin-top: 5px;
}

.sustain {
    display: flex;
    align-items: center;
}


.sustain svg{
    margin-top: 5px;
}


.filter_div{
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 20px 5px;
}

@media (max-width: 767px){
    .filter_container {
        margin-bottom: 10px;
    }
}